{% extends 'food/base.html' %}


{% block content %}
    
        <div class="col-md-9 mx-auto mt-4">
            <div class="d-flex justify-content-center mt-3">
                <div class="card" style="width: 40rem;">
                    <img style="height: 280px;" src="{{ item.item_image.url}}" class="img-fluid" alt="...">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <h5 class="card-title">{{item.item_name}}</h5>
                        <h5 class="card-title">Price: {{item.item_price}} Tk</h5>
                      </div>
                      <p>{{item.item_desc}}</p>
                      <a href="" class="btn btn-primary">Delete</a>
                    </div>
                  </div>
                 
            </div>
        </div>
  
{% endblock %}