{% extends 'food/base.html' %}


{% block content %}
    
        <div class="col-md-9 mx-auto mt-4">
            <div class="d-flex justify-content-between mt-3">
                {% for item in items %}
                <div class="card" style="width: 28rem;">
                    <img style="height: 280px;" src="{{ item.item_image.url}}" class="img-fluid" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{item.item_name}}</h5>
                      <a href="{% url 'food:detail' item.id %}" class="btn btn-primary">Details</a>
                    </div>
                  </div>
                  {% endfor %}
            </div>
        </div>
  
{% endblock %}